<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Home Page</title>
</head>
<body>
<div th:insert="navbar.html :: navbar"></div>
<div class="main-contain container">
    <div class="" style="margin-top: 100px; margin-left: 300px; margin-right: 300px">
        <form class="card py-5 px-4" th:action="@{'/register'}" method="POST" style="background-color: orangered">

            <label>Mail</label>
            <input type="email" name="mail_field" />

            <label>Password</label>
            <input type="password" name="password_field" />

            <label>RePassword</label>
            <input type="password" name="re_password_field" />

            <label>Name</label>
            <input type="text" name="name_field"/>

            <label>Surname</label>
            <input type="text" name="surname_field"/>

            <label>Age:</label>
            <select name="age_field">
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
            </select>


            <label>About me</label>
            <input type="text" name="about_field" />

            <label>Gender</label>
            <select name="gender_field" >
                <option th:each="gender : ${gender_list}" th:text="${gender.gender}" th:value="${gender.id}"></option>
            </select>


            <h3 th:text="${error}"></h3>
            <button type="submit" class="btn btn-dark">Registration</button>

        </form>
    </div>
</div>
</body>
</html>